<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Shawl Store
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides autoplay pager="true">
    <ion-slide>
      <img src="assets/icon/foto-2.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/foto-1.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/5.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/foto-3.png">
    </ion-slide>
  </ion-slides>
  <div>
  <ion-toolbar style="height: auto;" color="primary">
  <h3 text-center >Choose your Shawl</h3>
  </ion-toolbar>
</div>
<p></p>
  <ion-segment (ionChange)="segmentChanged($event)">
      <div>
    <ion-segment-button value="Alexa">
      <ion-label >Alexa</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Allura">
      <ion-label>Allura</ion-label>
    </ion-segment-button>
   
</div>
<div>
<ion-segment-button value="Azzura">
    <ion-label>Azzura</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Alyndra">
      <ion-label>Alyndra</ion-label>
    </ion-segment-button> 
  </div>
<div>
    
    <ion-segment-button value="Alycia">
      <ion-label>Alycia</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Tyrex">
      <ion-label>Tyrex</ion-label>
    </ion-segment-button>
  </div>
  </ion-segment>
 
  




  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goTambahPinjaman()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let item of listDataPinjaman" color="primary">
    <ion-item color="secondary">
      <span item-left> Nama Pembeli : {{item.user }}</span>
    </ion-item>
    <ion-item color="secondary">
      <span item-left> Tipe Shawl : {{item.tipe }}</span>
    </ion-item>
    <ion-item color="secondary">
      <span item-left> Total Harga  : {{item.harga }}</span>
    </ion-item>
    <ion-item color="secondary">
      <span item-left> Tanggal Pembelian  : {{item.tanggalPembelian }}</span>
    </ion-item>
    <ion-item color="secondary">
      <span item-left></span>
      <ion-button slot="end" color="danger" (click)="hapusDataPinjaman(item)">
        <ion-icon name="trash"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-card>-->
</ion-content>