<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/icon/4.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/5.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/6.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/7.jpg">
    </ion-slide>
  </ion-slides>
  <ion-text color="primary">
    <div class="ion-text-justify">
      <p>Every single one of our customers are always the inspiration to everything that we do. That was how it all
        started for
        us and how it’s always going to be! With ‘casual with a twist’ always in mind, there’s one thing that we
        promise all
        of you with every piece of our clothing—it has to be something that any woman with every body type and
        personality would proudly wear on a daily basis.

        That’s why we always love to see how all of you like to wear your favorite products!

        Don’t forget to always be inspiring, be you!
        #youxgorjes</p>
    </div>
  </ion-text>
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-title>CONTACT US</ion-title>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="mail" size="large"></ion-icon>
        <ion-label>gorjes@gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="logo-instagram" size="large"></ion-icon>
        <ion-label>gorjes.id</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="logo-facebook" size="large"></ion-icon>
        <ion-label>gorjes.id</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="logo-twitter" size="large"></ion-icon>
        <ion-label>gorjes.id</ion-label>
      </ion-item>
    </ion-toolbar>

  </ion-footer>


</ion-content>